
<ol class="list-unstyled social-links">
  <li><a href="https://www.facebook.com/aaryn.alexander"<%= fa_icon "facebook" %></a></li>
  <li><a href="https://twitter.com/aarynbiro"<%= fa_icon "twitter" %></a></li>
  <li><a href="https://github.com/aabiro"<%= fa_icon "github" %></a></li>
  <li><a href="https://www.instagram.com/aaryn89/"<%= fa_icon "instagram" %></a></li>
  <li><a href="https://www.linkedin.com/in/aabiro/"<%= fa_icon "linkedin" %></a></li>
</ol>
<div class="footer-container">
  <div class="mastfoot">
        <div class="inner">
          <p class="app-footer"><%= copyright_generator %></p>
        </div>
      </div>
  </div>
