<div class="col-sm-3 offset-sm-1 blog-sidebar">
<div class="sidebar-module sidebar-module-inset">
  <h4>About</h4>
  <p>My blog about all the things I <em>love! </em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>


<div class="sidebar-module">
  <h4>Topics</h4>
  <% @side_bar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic) %></p>
  <% end %>
</div>

<div class="sidebar-module">
  <h4>Elsewhere</h4>
  <ol class="list-unstyled social-links">
    <li><a href="https://github.com/aabiro"<%= fa_icon "github" %></a></li>
    <li><a href="https://www.facebook.com/aaryn.alexander"<%= fa_icon "facebook" %></a></li>
    <li><a href="https://twitter.com/aarynbiro"<%= fa_icon "twitter" %></a></li>
    <li><a href="https://www.instagram.com/aaryn89/"<%= fa_icon "instagram" %></a></li>
  </ol>
</div>
</div>
