<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "Create New Item / ", new_portfolio_url if logged_in?(:site_admin) %>
      <%= link_to "View All Portfolio Items", portfolios_path %> /
      <a href="#">Back to top</a>
    </p>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.facebook.com/aaryn.alexander"<%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/aarynbiro"<%= fa_icon "twitter" %></a></li>
      <li><a href="https://github.com/aabiro"<%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/aaryn89/"<%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.linkedin.com/in/aabiro/"<%= fa_icon "linkedin" %></a></li>
    </ol>
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>
