<div class="collapse" id="projects">
   <div class="card card-block">
     <div class="row">
       <div class="col-md-3">
         <%= image_tag 'ios-android1.jpg', width: '100%' %>
       </div>
       <div class="col-md-9">
         <strong>iOS/Android Development</strong> - Created my own mobile applications implementing API calls, payment methods, ARKit and database integration.
         <%= link_to "See my apps", portfolios_path %>
       </div>
     </div>
   </div>
   <div class="card card-block">
     <div class="row">
       <div class="col-md-3">
         <%= image_tag 'ruby-on-rails1.jpg', width: '100%' %>
       </div>
       <div class="col-md-9">
         <strong>Web Development</strong> - Developed dynamic websites to launch using Ruby on Rails. Customized using HTML, Javascript, Bootstrap, Rubygems, and several cloud databases.
       </div>
     </div>
   </div>
   <div class="card card-block">
     <div class="row">
       <div class="col-md-3">
         <%= image_tag 'unity.png', width: '100%' %>
       </div>
       <div class="col-md-9">
         <strong>Game Design</strong> - Created 2D and 3D games on Unity platform using C#.
       </div>
     </div>
   </div>
   <div class="card card-block">
     <div class="row">
       <div class="col-md-3">
         <%= image_tag 'ds-logo.png', width: '100%' %>
       </div>
       <div class="col-md-9">
         <strong>Data Structures</strong> - Developed many Algorithms & Data Structures from scratch including Lists, Sorting Algorithms, Hash Tables, Trees and Graphs using C++ and Java.
       </div>
     </div>
   </div>
 </div>
